*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   

    font-family:'Roboto';
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
li{
    list-style: none;
}
header, .first-container ,footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

/* ##########    Header    ############ */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logo-text{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 42px;
}



.right-links{
    display: flex;
    gap: 20px;
    font-size: 18px;
}

/* ##########    main    ############ */


                /* ##########    First Container    ############ */



.first-container{
    display: flex;

    justify-content: center;
    gap: 100px;
    padding: 20px 50px 0 50px;
}
.first-content{
   align-self: center;
   width:500px;
  /*  border: 2px solid green;      for debugging*/
   font-size: 18px;
   text-align:left;
}
.main-img{

    /*   border: 2px solid red;        for debugging*/
   
    max-width: 500px;
    height: 400px;
    flex-shrink: 1;
}

.main-heading{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 20px;
}
.sign-up-button{
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 13px;
    margin-top: 20px;
}

            /* ##########    second Container    ############ */

.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 50px;
    padding: 80px 50px 200px 50px;
}

.second-container-heading{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.content-container{
    display: flex;
    justify-content: center;
    gap:40px;
    text-align: center;
    
}
.content{
   border: 5px solid #3882F6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
.content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

            /* ##########    Third Container    ############ */







